{% extends "base.html" %}

{% block content %}

<article id="about">
    <h2 class="major">About</h2>
    <span class="image main"><img src="../static/images/bear-small.png" width="" height="" /></span>
    <p>I am a Computer Science student at the University of Pittsburgh, with a specialization in business. I am an aspiring data scientist, with interests in software engineering and web development. I am always looking to embark on new projects, so please contact me if you have an idea.</p>
</article>

{% endblock %}
