{% extends "base.html" %}

{% block content %}
<article id="contact">
    <h2 class="major">Contact</h2>
    <form method="post" action="#">
        {{ form.hidden_tag() }}

        <div class="field half first">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
        </div>

        <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
        </div>

        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="4"></textarea>
        </div>

        <div class="field half first">
            <input type="checkbox" id="demo-copy" name="copy">
            <label for="demo-copy">Email me a copy</label>
        </div>

        <div class="field half">
            <input type="checkbox" id="demo-human" name="human">
            <label for="demo-human">Not a robot</label>
        </div>

        <ul class="actions">
            <li><input type="submit" value="Send Message" class="special" /></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
    </form>
</article>
{% endblock %}
